
  header{
    display: flex;
    font-size: 25px;
    justify-content: center;
    margin-bottom: 10px;
  }

  .close {
    font-size: 25px;
    position: absolute;
    top:11px;
    left:30px;
  }
  .credit {
    height: 233px;
    background: RGB(47,210,213);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;

  }
  .con {
    position: relative;
    font-size: 25px;
    color: #d5eedb;
    top: 45px;
    /*left: 45px;*/
  }
 .grade{
    position: relative;
    font-size: 50px;
    color: #ffffff;
    bottom: -70.5px;
    text-align: center;
    /*left:45px;*/
  }
  .to {
    position: relative;
    top:50%;
  }
  .tips{
    font-size: 17.5px;
    color:#d3f6ed;
    height: 55.5px;
    background:  RGB(47,210,213);
    border-top: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infor {
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: RGB(245,245,245);

  }
  .line{
    display: flex;
    justify-content: space-around;
    margin-top: 12.5px;
    margin-bottom: 12px;
  }

  .item {
    width:164px;
    height: 186px;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 40px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    margin-right: 10.5px;
  }
  .item img {
    margin-bottom: 31px;
  }
  .item .others {
    font-size: 15px;
    color: #ffffff;
    background-color: #ed8a1e;
    border-radius: 5px;
    position: absolute;
    right:5px;
    top:5px;
    padding:4px 5px;
  }

  .gray {
    opacity:0.5;
  }

  .warning {
      display: flex;
      flex-direction: column;
      align-items:  center;
      background-color: RGB(245,245,245);
      padding-top: 30px;
  }
  .warning .title {
     margin-left: -173px;
  }
  .warning .title .tip {
     font-size: 17.5px;
     color:#ff8b17;

  }

  .warning .content {
     font-size: 17.5px;
     color: #7a8a92;

  }
  .warning .content .head {
     margin-top: 13.5px;
     margin-bottom: 30px;
  }
  .icon-heart:before {
    content: "\1f49b";
  }
  .icon-heart {
    margin-right: 13.5px;
    margin-bottom: 13.5px;
  }
